.container {
    background: var(--bgSoft);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.form input,
.seleect,
.address {
    color: #fff;
    width: 45%;
    background-color: var(--hoverColor);
    border: none;
    padding: 15px;
    border-radius: 6px;
}

.form .address {
    width: 100%;
    height: 250px;
}

.submitBtn {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background: teal;
}