.container {
    position: sticky;
    top: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.userImage {
    overflow: hidden;
    border-radius: 50px;
}

.userDetails {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.userName {
    font-size: 14px;
    font-weight: 500;
}

.userTitle {
    font-size: 12px;
    color: var(--textSoft);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.cat{
    font-size: 15px;
    color: var(--textSoft);
    font-weight: 600;
    margin: 12px 0px;
}