.container {
    width: 100%;
    background: var(--bgSoft);
    padding: 14px;
    border-radius: 8px;
}

.title {
    font-size: 18px;
    color: var(--textSoft);
    font-weight: 500;
}

.table {
    width: 100%;
    margin-top: 18px;
}

.thead {
    font-size: 14px;
    font-weight: 500;
}

.tbody {
    font-size: 14px;
}

.table td {
    padding: 10px;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.userImage {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.status {
    color: #fff;
    padding: 6px 8px;
    border-radius: 50px;
}

.pending {
    background-color: #f7cb7375;
}

.done {
    background-color: #afd6ee75;
}

.failed {
    background-color: #f7737375;
}