.container {
  padding-right: 20px;
}

.item {
  background: linear-gradient(to top, #182237, #253352);
  padding: 20px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.bgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.bg {
  object-fit: contain;
  opacity: 0.2;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notification {
  font-weight: bold;
}

.title {
    font-size: 16px;
    line-height: 22px;
}

.subtitle {
  color: var(--textSoft);
  font-weight: 500;
  font-size: 12px;
}

.desc {
  color: var(--textSoft);
  font-size: 12px;
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: #5d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}