.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.title {
    font-size: 14px;
    color: var(--textSoft);
    font-weight: 500;
}

.copy {
    font-size: 14px;
    color: var(--textSoft);
    font-weight: 400;
}