.container {
    background: var(--bgSoft);
    display: flex;
    gap: 10px;
    padding: 14px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.container:hover {
    background: var(--hoverColor);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 15px;
    font-weight: 500;
}

.number {
    font-size: 14px;
    font-weight: 500;
}

.details {
    font-size: 12px;
    font-weight: 300;
}

.positive {
    color: lime;
}
.negative {
    color: red;
}