.container{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 14px;
    margin: 10px 0px;
}

.container:hover, .active {
    background: var(--hoverColor);
    border-radius: 6px;
}


