.container {
    background: var(--hoverColor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px;
    border-radius: 6px;
}

.input {
    background: transparent;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
}