.container {
    background-color: var(--bgSoft);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addUser {
    background-color: rgb(95, 12, 172);
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    cursor: pointer;
}

.addUser:hover {
    background-color: rgb(112, 27, 192);
}

.table {
    width: 100%;
    margin-top: 18px;
}

.thead {
    font-size: 14px;
    font-weight: 500;
}

.tbody {
    font-size: 14px;
}

.table td {
    padding: 10px;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.userImage {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.status {
    color: #fff;
    padding: 6px 8px;
    border-radius: 50px;
}

.action {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.viewBtn {
    padding: 3px 8px;
    font-size: 12px;
    background-color: teal;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.viewBtn:hover {
    background-color: rgb(5, 105, 105);
}

.deleteBtn {
    padding: 3px 8px;
    font-size: 12px;
    background-color: crimson;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: rgb(195, 9, 9);
}